body{
    background-color: rgb(255, 255, 124);
    overflow: hidden;
}

.mc{
    width: 150%;
    margin-top: -20rem;
    opacity: 1;
    margin-left: -1rem;
}

.we{
  font-family: impact;
    letter-spacing: 4px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 30%;
    font-weight: 100;
}

img{
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    height: auto;
    width: 100%;
    margin-top: -30rem;
}

h1{
    font-family: impact;
    letter-spacing: 4px;
    text-align: center;
    color: rgb(26, 26, 26);
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    font-weight: 100;
}

.yes{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(25, 171, 255);
    color: white;
    font-family: impact;
    letter-spacing: 5px;
    font-size: 20px;

}

.yes:hover{
    box-shadow: 5px 5px ;
    transition: 0.5s;
    animation-fill-mode: forwards;
}


.popup{
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(25, 171, 255);
    color: white;
    font-family: impact;
    letter-spacing: 5px;
    font-size: 20px;

}

.popup:hover{
    box-shadow: 5px 5px ;
    transition: 0.5s;
    animation-fill-mode: forwards;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }